<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="justbe.mindfulness">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="justbe.mindfulness.App"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="justbe.mindfulness.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="justbe.mindfulness.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.LoginActivity"
            android:label="Login"
            android:windowSoftInputMode="adjustPan"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName="justbe.mindfulness.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.SleepTimeActivity"
            android:label="@string/title_activity_sleep_time"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.LessonTimeActivity"
            android:label="@string/title_activity_lesson_time"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.MeditationTimeActivity"
            android:label="@string/title_activity_meditation_time"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.PreferencesActivity"
            android:label="Preferences"
            android:launchMode="singleTask"
            android:parentActivityName="justbe.mindfulness.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        />
        <activity
            android:name="justbe.mindfulness.LessonActivity"
            android:label="@string/title_activity_lesson"
            android:parentActivityName="justbe.mindfulness.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.SliderAssessmentActivity"
            android:label="@string/title_activity_assessment"
            android:parentActivityName="justbe.mindfulness.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.DropdownAssessmentActivity"
            android:label="@string/title_activity_assessment"
            android:parentActivityName="justbe.mindfulness.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.YesNoAssessmentActivity"
            android:label="@string/title_activity_smoke_assessment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="justbe.mindfulness.MultiChoiceAssessmentActivity"
            android:label="@string/title_activity_multi_choice_assessment"
            android:parentActivityName="justbe.mindfulness.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="justbe.mindfulness.MainActivity" />
        </activity>

        
	 <receiver
            android:name=".AlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MeditationAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".LessonAlarmReceiver"

            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
		

        <activity
            android:name="justbe.mindfulness.StartAssessmentActivity"
            android:label="@string/title_activity_start_assessment"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="justbe.mindfulness.StartProgramActivity"></activity>
        <activity android:name="justbe.mindfulness.ResponseActivity"/>
    </application>

</manifest>
